---
import { Icon } from "astro-icon";
import Link from "@buttons/link.astro";

interface Props {
  title: string;
  body: string;
  href: string;
  icon: string;
}

const { href, title, body, icon } = Astro.props;
---

<a
  href={href}
  class="group bg-white border border-gray min-h-80 p-10 grid gap-5 relative transition hover:shadow-lg"
>
  <div class="absolute top-0 right-0 w-25 h-25">
    <Icon name="sun-card" />
  </div>
  <i class="w-8 h-8">
      {icon && <Icon name={icon} class="img-contain" />}
  </i>

  <h3 class="text-[1.4375rem] tracking-wider">
    {title}
  </h3>
  <p class="text-green-light text-2xs tracking-widest leading-[3]">
    {body}
  </p>
  <Link />
</a>
