---
import Layout from '@layouts/Layout.astro';
import Hero from '@layouts/Hero.astro';
import Brands from '@layouts/Brands.astro';
import About from '@layouts/About.astro';
import Cases from '@layouts/Cases.astro';
import Awards from '@layouts/Awards.astro';
import Blog from '@layouts/Blog.astro';
import Skills from '@layouts/Skills.astro';
---

<Layout title="Willow" description="WELCOME TO WILLOW">
	<main>
		<Hero />
		
		<Brands />

		<About />

		<Cases />
		
		<Skills />

		<Awards />

		<Blog />
		
	</main>
</Layout>