---
import Card from '@cards/Award.astro';
import SectionHeading from '@components/headings/Section.astro';
---
<section>
    <div class="container my-40">
        <SectionHeading classes='mb-18 justify-center' iconCenter>
            Our Awards
        </SectionHeading>
        <udiv class="grid sm:grid-cols-2 xl:grid-cols-4 auto-rows-fr gap-10">
            <Card
                href="#"
                icon="award"
                title="Awwwards Site of the day"
                subtitle="CARTIER / 2021"
            />
            <Card
                href="#"
                icon="award"
                title="Webflow Design of the Week"
                subtitle="CARTIER / 2021"
            />
            <Card
                href="#"
                icon="award"
                title="Awwwards Site of the day"
                subtitle="CARTIER / 2021"
            />
            <Card
                href="#"
                icon="award"
                title="Webflow Design of the Week"
                subtitle="CARTIER / 2021"
            />
        </udiv>
    </div>
</section>
