---
import Skill from "@cards/Skill.astro";
import SectionHeading from "@components/headings/Section.astro";
---

<div class="container max-w-[620px]">
  <SectionHeading classes="mb-10">
    <span class="text-[2.5rem] leading-tight">
        We offer a wide
    </span>
    <span class="text-[2.4375rem] leading-tight">
        variety of skills.
    </span>
  </SectionHeading>
  <Skill
    title="01 - Research"
    body="A brand today is all about how it makes customers feel."
  />
  <Skill
    title="02 - Concept"
    body="A brand today is all about how it makes customers feel."
  />
  <Skill
    title="03 - Development"
    body="A brand today is all about how it makes customers feel."
  />
  <Skill
    title="04 - Growth"
    body="A brand today is all about how it makes customers feel."
  />
</div>
