---
import Logo from "../Logo.astro";
const links = ["Home","Company","Services","Service Detail", "Contact"];
---
<footer>
    <div class="container max-w-screen-xl py-12">
        <div class="flex max-sm:flex-col-reverse flex-wrap sm:justify-between gap-4">
            <Logo />
            <div class="flex max-sm:flex-col sm:items-center gap-2">
                {
                    links.map((link)=>(
                        <a href="./" class="py-2 pr-4 sm:pl-4">
                            {link}
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
</footer>